<div class="container">

  <div class="card">

    <!-- HEADER -->
    <div class="header">
      <h2>💰 Gestion des ventes</h2>
      <p>Enregistrer et suivre les transactions</p>
    </div>

    <!-- FORM -->
    <div class="form">

      <input [(ngModel)]="vente.idvente" placeholder="ID Vente">

      <input type="date" [(ngModel)]="vente.date_vente">

      <!-- CLIENT -->
      <select [(ngModel)]="vente.idclient">
        <option [ngValue]="null">-- Choisir Client --</option>
        <option *ngFor="let c of clients" [ngValue]="c.idclient">
          {{ c.nom }}
        </option>
      </select>

          <!-- VOITURE -->
      <select [(ngModel)]="vente.idvoiture" (change)="calculerMontant()">
        <option [ngValue]="null">-- Choisir Voiture --</option>
        <option *ngFor="let v of voitures" [ngValue]="v.idvoiture">
          {{ v.marque }} ({{ v.prix }} €)
        </option>
      </select>

      <!-- MONTANT AUTO -->
      <input class="montant" [value]="vente.montant" readonly placeholder="Montant automatique">

      <button class="btn-primary" (click)="ajouter()">
        ➕ Enregistrer la vente
      </button>

    </div>

    <!-- TABLE -->
    <div class="table-container">

      <table>

        <thead>
          <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Client</th>
            <th>Voiture</th>
            <th>Montant</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let v of ventes">

            <td>{{ v.idvente }}</td>

            <td class="date">
              {{ v.date_vente }}
            </td>

            <td class="bold">
              {{ clients.find(c => c.idclient == v.idclient)?.nom }}
            </td>

            <td>
              <span class="badge">
                {{ voitures.find(vo => vo.idvoiture == v.idvoiture)?.marque }}
              </span>
            </td>

            <td class="price">
              {{ v.montant }} Ar
            </td>

          </tr>
        </tbody>

      </table>

    </div>

  </div>

</div>




















