
<!-- MESSAGE -->
<div *ngIf="message" class="message" [ngClass]="messageType">
  {{ message }}
</div>

<div class="container">

  <div class="card">

    <div class="header">
      <h2>💰 Gestion des ventes</h2>
      <p>Enregistrer et suivre les transactions</p>
    </div>

    <!-- FORM -->
    <div class="form">

      <!-- DATE -->
      <input type="date" [(ngModel)]="vente.date_Vente">

      <!-- CLIENT -->
<select [(ngModel)]="vente.idClient">
  <option [ngValue]="null">-- Choisir Client --</option>

  <option *ngFor="let c of clients" [ngValue]="c.idClient">
    {{ c.nom }} {{ c.prenom }}
  </option>
</select>

      <!-- VOITURE -->
<select [(ngModel)]="vente.idVoiture" (change)="calculerMontant()">
  <option [ngValue]="null">-- Choisir Voiture --</option>

  <option *ngFor="let v of voitures" [ngValue]="v.idVoiture">
    {{ v.marque }} ({{ v.prix }} Ar)
  </option>
</select>

      <!-- MONTANT -->
      <input class="montant" [value]="vente.montant" readonly>

      <!-- BUTTON -->
      <button class="btn-primary" (click)="ajouter()">
        ➕ Enregistrer la vente
      </button>

    </div>

    <!-- TABLE -->
    <div class="table-container">

      <table *ngIf="ventes.length > 0; else noData">

        <thead>
          <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Client</th>
            <th>Voiture</th>
            <th>Montant</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>

          <tr *ngFor="let v of ventes">

            <td>{{ v.idVente }}</td>

            <td>{{ v.date_Vente }}</td>

            <td>
              {{ clients.find(c => c.idClient === v.idClient)?.nom }}
            </td>

            <td>
              {{ voitures.find(vo => vo.idVoiture === v.idVoiture)?.marque }}
            </td>

            <td>{{ v.montant }} Ar</td>

              <td>

              <!-- 🔥 UNE SEULE MÉTHODE -->
<button class="btn-delete" (click)="confirmDelete(v.idVente)">
  🗑️
</button>

            </td>

          </tr>

        </tbody>

      </table>

      <ng-template #noData>
        <div class="empty">❌ Aucune vente</div>
      </ng-template>

    </div>

  </div>

</div>