<div class="layout">

  <!-- SIDEBAR -->
  <aside class="sidebar">

    <div class="logo">
      <h2>🚗 Gestion Voitures</h2>
    </div>

    <nav class="menu">

      <a routerLink="/menu/dashboard" routerLinkActive="active">
        <span>📊</span> Dashboard
      </a>

      <a routerLink="/menu/voitures" routerLinkActive="active">
        <span>🚗</span> Voitures
      </a>

      <a routerLink="/menu/clients" routerLinkActive="active">
        <span>👤</span> Clients
      </a>

      <a routerLink="/menu/ventes" routerLinkActive="active">
        <span>💰</span> Ventes
      </a>

    </nav>

    <!-- FOOTER -->
    <div class="logout">
      <a routerLink="/login">
        🚪 Déconnexion
      </a>
    </div>

  </aside>

  <!-- CONTENU -->
  <main class="content">

    <!-- TOPBAR -->
    <div class="topbar">
      <h3>Bienvenue 👋</h3>

      <div class="user">
        <span>Admin</span>
        <img src="./assets/images/admin.png" alt="Admin" class="user-img">
      </div>

    </div>

    <div class="page">
      <router-outlet></router-outlet>
    </div>

  </main>

</div>